 {% load static %}
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
          
  
    <!--navbar-->
          <ul class="nav justify-content-end  " style="background-color:green;
           " >
                <li class="nav-item">
                  <a class="nav-link active text-white" href="#"> <img style="width: 25px;" src="{% static 'images/watsao.jpg' %}" >  0735475563</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#"> <img style="width: 25px;"  src="{% static  'images/email.jpg'  %}" alt=""> michaelkilongoo193@gmail.com</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link text-white" href="#">Kijitonyama</a>
                </li>
               
          </ul>



          <nav class="navbar navbar-expand-lg navbar-light bg-green text-white" style="background-color: yellowgreen; color:white  "  >
                <a class="navbar-brand" href="{% url 'index'  %}">telcomic</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'index'  %}">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="#">Sellers</a>
                    </li>
                   


                    <li class="nav-item">
                      <a class="nav-link" href="#">About us</a>
                    </li>
                    
                  </ul>
                </div>
                    <ul>
                      <form class="form-inline my-2 my-lg-0 justify-content-center text-center">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                    </ul>

                     <ul class="text d-inline-flex ">
                            <a class="btn btn-outline-warning mx-3" href="{% url 'loginpage' %}">login</a>
                            <a href="#"> <img  style="width: 40px;" src="{% static 'images/cart.png' %}"><span class="badge badge-pill badge-warning">0</span></a>


                     </ul>

          </nav>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Computer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Smartphones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Others</a>
            </li>
          </ul>
        

         {% block content %}
<!--end here-->
<!-- body start---->


          <div class="container-fluid">
             <div class="row ">
               {% for product in products %}
                  <div class="col-md-4 col-xs-12" >
                          <div class="box-element" >
                            <img class="img-fluid" src="{{product.image1.url }}" alt="">
                             <p>{{ product.name }}</p>
                             <p> available : {{product.quantinty}}</p>
                             <p>TZS :{{product.price}}</p>
                             <a class="btn btn-outline-secondary" href="{% url 'check' product.id %}">view</a>
                             <a class="btn btn-outline-secondary" href="#">Add to Cart</a>


                          </div>
                    </div>
                    {% endfor %}
                   


          </div>
          </div>
                       <!--pegination-->
                      
                       <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>



                       <!--end of peggination-->



                    <div class="jumbotron justfy justify-content-center text-center" >
                        <div class="container ">
                             <form  >
                                <label for="email" ></label>
                                <input style="width: 400px; height:40px;"  type="text" name="comment" id="email" placeholder="write your comment here">
                                <input style="width: 400px; height:40px;"   type="email" name="email" placeholder="enter your email here">
                                <input class="btn btn-danger btn-lg" type="button" value="subscribe">


                             </form>
                             


                        </div>

                         


                    </div>
<!--footer start-->

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container-fluid"  style="background-color:green;" >

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center text-center  "  >

          <!-- Facebook -->
          <a href="#" class="size">
            <img  style="width: 100px;"  src="{% static 'images/facebook.png'  %}" alt="">
          </a>
          <!-- Twitter -->
          <a href="#" class="size">
            <img style="width: 100px;"  src="{% static 'images/twitter.png'  %}" alt="">
          </a>
          <!-- watsup +-->
          <a href="#" class="size">
            <img   style="width: 100px;" src="{% static 'images/watsao.jpg'  %}" alt="">
          </a>
          <a href="#"class="size" >
            <img   style="width: 150px;" src="{% static 'images/instagram.jpg'  %}" alt="">
          </a>
          <!--Instagram-->
          <a href="#"  >
            <img  style="width: 150px;"   src="{% static 'images/email.jpg'  %}" alt="">
          </a>
         
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="{% static 'js/bootstrap.min.js'  %}"></script>
<script src="{% static 'js/jquery.js'  %}"></script>

{% endblock %}

		
              
    
</body>
</html>



